.hero {
	margin-bottom: 64px;
	@include indent;
}

.hero__row {
	@include media(tablet) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.hero__desc {
	position: relative;
	z-index: 10;
	h1 {
	}
	@include media(tablet) {
		flex: 1 0 70%;
		order: 1;
	}
}

.hero__sideimg {
	margin-bottom: 24px;
	user-select: none;
	img {
		display: block;
		width: 100%;
	}
	@include media(tablet) {
		flex: 1 0 30%;
		order: 2;
		margin-bottom: 0;
		position: relative;
		left: -242px;
		img {
			object-fit: cover;
			width: auto;
			margin-bottom: -72px;
		}
	}
}